* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Header {
    display: block;
}

H1 {
    font-size: 60px;
    position: relative;
    top: 30px;
    left: 30px;
}

.Nav {
    font-size: 25px;
    position: relative;
    text-align: end;
    right: 60px;
    top: 20px;
    z-index: 2;
}

.Nav-on {
    background-color: rgb(50, 222, 50);
    color: white;
    padding: 5px;
    border: 3px solid black;
}

.Nav-off {
    background-color: rgb(137, 137, 246);
    color: white;
    padding: 5px;
    border: 2px solid black;
}

.Nav-off:hover {
    background-color: rgb(50, 222, 50);
    color: white;
    padding: 5px;
    border: 3px solid black;
}

.Img-header {
    position: relative;
    height: 500px;
    width: 1520px;
    z-index: 0;
    top: 10px;
}

H2 {
    position: relative;
    font-size: 50px;
    text-align: center;
    border: 2px solid black;
    top: 10px;
}

.Logo {
    position: relative;
    width: 300px;
    top: 30px;
}

.Main-text {
    position: relative;
    font-size: 20px;
    top: -250px;
    left: 330px;
    width: 1100px;
    padding: 10px;
}

p {
    position: relative;
    left: 20px;
    text-align: justify;
    padding: 20px;
}